---
layout: default
title: Contact
---

<link href="/css/contact.css" rel="stylesheet" />

<div class="nes-container with-title is-centered">
	<p class="title">Contact Us!</p>
	<a href="{{ site.data.contact.email }}" target="_blank" aria-label="email"><i class="nes-icon is-large gmail"></i></a>
	<a href="{{ site.data.contact.twitter }}" target="_blank" aria-label="twitter"><i class="nes-icon is-large twitter"></i></a>
	<a href="{{ site.data.contact.github }}" target="_blank" aria-label="github"><i class="nes-icon is-large github"></i></a>
	<a href="{{ site.data.contact.youtube }}" target="_blank" aria-label="youtube"><i class="nes-icon is-large youtube"></i></a>
	<a href="{{ site.data.contact.toa }}" target="_blank" aria-label="toa"><i class="nes-icon is-large star"></i></a>
	<a href="{{ site.data.contact.discord }}" target="_blank" aria-label="discord"><img class="nes-icon is-large discord nes-icon-bootleg" src="https://rawcdn.githack.com/nostalgic-css/NES.icons/5b9fed6df6035b7f83cb83d4627630c3ee065f96/icons/discord.svg"></a>
</div>
<br>
{% for department in site.data.team %}
	<div class="nes-container with-title">
		<p class="title">{{ department.title }}</p>
		<div class="member-cards">
		{% for member in department.members %}
			<div>
				<section class="nes-container is-dark member-card">
					<div class="avatar"><img src="https://art.pixilart.com/0a87461a38594b2.png"></div>
					<div class="profile">
						<div class="name {% if member.lead %}lead{% endif %}">
							{{ member.name }}
						</div>
						<p class="tagline">
							{% if member.year %}
								{% assign year = site.time | date: '%Y' %}
								{% assign year = member.year | minus:year %}
								{% if year == 4 %}Freshman{% endif %}
								{% if year == 3 %}Sophomore{% endif %}
								{% if year == 2 %}Junior{% endif %}
								{% if year == 1 %}Senior{% endif %}
							{% else if member.title %}
								{{ member.title }}
							{% endif %}
						</p>
						<div class="social">
							{% if member.social.email %}<a href="mailto:{{ member.social.email }}" target="_blank" aria-label="email"><i class="nes-icon gmail"></i></a>{% endif %}
							
							{% if member.social.github %}<a href="https://github.com/{{ member.social.github }}" target="_blank" aria-label="github"><i class="nes-icon github"></i></a>{% endif %}
							
							{% if member.social.reddit %}<a href="https://www.reddit.com/user/{{ member.social.reddit }}" target="_blank" aria-label="reddit"><i class="nes-icon reddit"></i></a>{% endif %}
							
							{% if member.social.discord %}
								<a onclick="document.getElementById('contact-discord-modal-{{ member.social.discord }}').showModal();" target="_blank" aria-label="discord"><img class="nes-icon discord nes-icon-bootleg" src="https://rawcdn.githack.com/nostalgic-css/NES.icons/5b9fed6df6035b7f83cb83d4627630c3ee065f96/icons/discord.svg"></a>
								<dialog class="nes-dialog is-dark" id="contact-discord-modal-{{ member.social.discord }}">
									<form method="dialog">
										<p class="title">{{ member.name }}'s Discord</p>
										<p>{{ member.social.discord }}</p>
										<menu class="dialog-menu">
											<button class="nes-btn is-primary">OK</button>
										</menu>
									</form>
								</dialog>
							{% endif %}
						</div>
					</div>
				</section>
			</div>
		{% endfor %}
		</div>
	</div>
	<br>
{% endfor %}
