---
layout: default
title: Contact
---

<link href="/css/contact.css" rel="stylesheet" />

<div class="nes-container with-title is-centered">
	<p class="title">Contact Us!</p>
	<a href="{{ site.data.contact.email }}" target="_blank" aria-label="email"><img src="/img/icons/gmail.png" class="icon is-large"></a>
	<!--<a href="{{ site.data.contact.twitter }}" target="_blank" aria-label="twitter"><img src="/img/icons/twitter.png" class="icon is-large"></a>-->
	<a href="{{ site.data.contact.github }}" target="_blank" aria-label="github"><img src="/img/icons/github.png" class="icon is-large"></a>
	<a href="{{ site.data.contact.youtube }}" target="_blank" aria-label="youtube"><img src="/img/icons/youtube.png" class="icon is-large"></a>
	<a href="{{ site.data.contact.toa }}" target="_blank" aria-label="toa"><img src="/img/icons/trophy.png" class="icon is-large"></a>
	<a href="{{ site.data.contact.discord }}" target="_blank" aria-label="discord"><img src="/img/icons/discord.png" class="icon is-large"></a>
</div>
<br>
{% for department in site.data.team %}
	<div class="nes-container with-title">
		<p class="title">{{ department.title }}</p>
		<div class="member-cards">
		{% for member in department.members %}
			<div>
				<section class="nes-container is-dark member-card">
					<div class="avatar"><img src="{{ member.pfp | default: '/img/icons/team.jpg' }}" alt="{{ member.name }}"></div>
					<div class="profile">
						<div class="name {% if member.lead %}lead{% endif %}">
							{{ member.name }}
						</div>
						<p class="tagline">
							{% if member.year %}
								{% assign year = site.time | date: '%Y' %}
								{% assign year = member.year | minus:year %}
								{% if year == 3 %}Freshman{% endif %}
								{% if year == 2 %}Sophomore{% endif %}
								{% if year == 1 %}Junior{% endif %}
								{% if year == 0 %}Senior{% endif %}
							{% else if member.title %}
								{{ member.title }}
							{% endif %}
						</p>
						<div class="social">
							{% if member.social.email %}<a href="mailto:{{ member.social.email }}" target="_blank" aria-label="email"><img src="/img/icons/gmail.png" class="icon is-small"></img></a>{% endif %}
							{% if member.social.github %}<a href="https://github.com/{{ member.social.github }}" target="_blank" aria-label="github"><img src="/img/icons/github.png" class="icon is-small"></a>{% endif %}
							{% if member.social.reddit %}<a href="https://www.reddit.com/user/{{ member.social.reddit }}" target="_blank" aria-label="reddit"><img src="/img/icons/reddit.png" class="icon is-small"></a>{% endif %}
							{% if member.social.discord %}<a onclick="document.getElementById('contact-discord-modal-{{ member.social.discord }}').showModal();" target="_blank" aria-label="discord"><img src="/img/icons/discord.png" class="icon is-small"></a>{% endif %}
						</div>
					</div>
				</section>
			</div>
		{% endfor %}
		</div>
	</div>
	<br>
{% endfor %}

{% for department in site.data.team %}
	{% for member in department.members %}
		{% if member.social.discord %}
			<dialog class="nes-dialog is-dark" id="contact-discord-modal-{{ member.social.discord }}">
				<form method="dialog">
					<p class="title">{{ member.name }}'s Discord</p>
					<p>{{ member.social.discord }}</p>
					<menu class="dialog-menu">
						<button class="nes-btn is-primary">OK</button>
					</menu>
				</form>
			</dialog>
		{% endif %}
	{% endfor %}
{% endfor %}