<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta itemprop="description" name="description" content="Xcentrics: FTC Team 5143, from Xavier High School">
  <meta name="theme-color" content="#157878">
  
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

  <style>
    html, body, pre, code, kbd, samp {
        font-family: "Press Start 2P";
    }
  </style>   
</head>

<body>

    {{ content }}

</body>

</html>
